.add-book-form{
    background-color: var(--form-background);
    border: 2px solid var(--card-border);
    border-radius: 20px;
    height: 300px;
    width: 700px;
    grid-area: form;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
}