@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Regular.ttf);
  font-weight: normal;
}

body{
  background-color: var(--background);
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-areas:
  "form"
  "shelf";
  justify-content: center;
  padding: 30px;
}