.book{
    will-change: transform;
    font-family: var(--main-font);
    cursor: pointer;
}

.book-info{
    will-change: opacity;
    background-color: var(--background);
    border: 2px solid var(--card-border);
    border-radius: 10px;
    width: 200px;
    padding: 10px;
    opacity: 0;
    margin: -100px 0 0 -230px;
    pointer-events: none;
}

.book:hover .book-info{
    opacity: 1;
}

.book:hover .delete-button{
    opacity: 1;
}

.delete-button{
    will-change: opacity;
    cursor: pointer;
    opacity: 0;
}