:root{
    --background: rgb(241, 241, 241);
    --shelf-edge: #d2a07f;
    --shelf: #5b372b;
    --card-border: black;
    --form-background: white;
    --green: rgb(113, 227, 113);
    --red: rgb(251, 89, 89);
    --text-dark: black;
}