.form-radio-label{
    text-align: left;
    padding: 10px;
    font-size: 14px;
}

.form-radio-input{
    cursor: pointer;
    place-self: center;
    transform: scale(2);
}

.form-radio-input:focus{
    border-color: var(--blue);
    box-shadow: 0px 0px 12px var(--blue);
}