.form-color-input{
    cursor: pointer;
    opacity: 0;
}

.color-input-label{
    display: flex;
    place-items: center;
    font-size: 14px;
    border: 2px solid var(--card-border);
    border-radius: 40px;
    color: var(--text-dark);
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}